<div class="container">
  <%= form_for @sea do |f| %>
    <p><%= f.label :name %></p>
    <%= f.text_field :name, class: "form-control" %>

    <p><%= f.label :temperature %></p>
    <%= f.number_field :temperature, class: "form-control" %>

    <p><%= f.label :bio %></p>
    <%= f.text_area :bio, class: "form-control" %>

    <p><%= f.label :image_url %></p>
    <%= f.text_field :image_url, class: "form-control" %>

    <p><%= f.label :mood %></p>
    <%= f.text_field :mood, class: "form-control" %>

    <p><%= f.label :favorite_color %></p>
    <%= f.text_field :favorite_color, class: "form-control" %>

    <p><%= f.label :scariest_creature %></p>
    <%= f.text_field :scariest_creature, class: "form-control" %>

    <%= f.label :has_mermaids %>
    <%= f.check_box :has_mermaids %>

    <%=  f.submit class: "form-control btn btn-info" %>
    <div class="text-center">
      <button class="btn btn-info" style="margin: 1em"><a class="btn-info" href="/seas">All Seas</a></button>
    </div>
    <% end %>
</div>