<div class="container">
  <%= form_for @sea do |f| %>

    <p><%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %></p>

    <p><%= f.label :bio %>
    <%= f.text_area :bio, class: "form-control" %></p>

    <p><%= f.label :image_url %>
    <%= f.text_field :image_url, class: "form-control" %></p>

    <p><%= f.label :temperature %>
    <%= f.number_field :temperature, class: "form-control" %></p>

    <p><%= f.label :favorite_color %>
    <%= f.text_field :favorite_color, class: "form-control" %></p>

    <p><%= f.label :scariest_creature %>
    <%= f.text_field :scariest_creature, class: "form-control" %></p>

    <p><%= f.label :mood %>
    <%= f.text_field :mood, class: "form-control" %></p>

    <div class="checkbox">
      <%= f.label :has_mermaids do %>
      <%= f.check_box :has_mermaids %> Has Mermaids
      <% end %>
    </div>

    <%= f.submit 'Submit', class: "form-control btn btn-info" %>

  <% end %>
  <div class="text-center">
    <button class="btn btn-info" style="margin: 1em"><a class="btn-info" href="/seas">All Seas</a></button>
  </div>
</div>

